# Read the Data and Change Column Name

In [1]:
import pandas as pd

In [2]:
samadult = pd.read_csv("samadult.csv")
samadult.head()

,FPX,FMX,HHX,INTV_QRT,WTIA_SA,WTFA_SA,SEX,HISPAN_I,R_MARITL,MRACRPI2,...,BFWH_05,BFWH_06,BFWH_07,BFWH_08,BFWH_09,BFWH_10,BNRFALL,BINTHI,BINTTR,BINTRS
0,1,1,1,1,11241.0,26100,1,12,8,2,...,2.0,2.0,2.0,2.0,1.0,2.0,5.0,2.0,2.0,2.0
1,1,2,1,1,5620.5,11294,2,12,5,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,2,1,2919.3,2506,1,12,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,1,3,1,8883.8,9267,2,3,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,5,1,3300.8,3443,2,3,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# List of columns to keep (10 key features + diabetes indicator column)
columns_to_keep = [
    'AGE_P',     # Age
    'SEX',       # Sex
    'BMI',       # Body Mass Index
    'HYPEV',     # Hypertension diagnosis
    'CHLEV',     # Cholesterol diagnosis
    'SMKEV',     # Ever smoked
    'SMKNOW',    # Current smoking status
    'VIGFREQW',  # Frequency of vigorous physical activity
    'DIBREL',    # Family history of diabetes
    'DIBGDM',    # Gestational diabetes history
    'DIBEV1'     # Diabetes diagnosis (Yes/No/Borderline)
]

In [4]:
# Create a new DataFrame with only the selected columns
samadult = samadult[columns_to_keep]
samadult.head()

,AGE_P,SEX,BMI,HYPEV,CHLEV,SMKEV,SMKNOW,VIGFREQW,DIBREL,DIBGDM,DIBEV1
0,22,1,3336,2,2,2,NaN,3,1,NaN,2
1,24,2,2019,2,2,2,NaN,95,2,NaN,2
2,76,1,2727,1,1,2,NaN,95,2,NaN,2
3,36,2,3862,2,2,2,NaN,21,1,2.0,2
4,35,2,3995,2,2,1,1.0,95,1,2.0,2